body {
    background-image: linear-gradient(to right top, #e6185d, #d97235, #b9a64f, #a2ca95, #b3e2d6);
}

ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    font-weight: bold;
}

span {
    font-weight: normal;
}


